<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">
	<!--spring 管理基础数据bean数据访问层  张玲-->
	<bean id="ycInfoDAO" class="com.pd.wjyw.dao.impl.YcInfoDAOImpl">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>
	
	<bean id="ycInfoPicDAO" class="com.pd.wjyw.dao.impl.YcInfoPicDAOImpl">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>
	
	<bean id="ycPaperDAO" class="com.pd.wjyw.dao.impl.YcPaperDAOImpl">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>
	
	<bean id="ycTypePaperDAO" class="com.pd.wjyw.dao.impl.YcTypePaperDAOImpl">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>
</beans>
