<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>

	<bean id="clearCallQuartzJob" class="com.pd.quartz.CleraCallQuartz">
		<property name="jdbcTemplate" ref="jdbcTemplate"></property>
	</bean>
	
	<!-- 定义调用对象和调用对象的方法 -->
	<bean id="jobTask" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<ref bean="clearCallQuartzJob"/>
		</property>
		<property name="targetMethod">
			<value>clearCallNumber</value>
		</property>
	</bean>
	
	<!-- 定义触发时间-->
	<bean id="doTime" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<ref bean="jobTask"/>
		</property>
		<property name="cronExpression">
			<value>0 30 22 * * ?</value>
		</property>
	</bean>
	 
	<!-- 总管理 -->
	<bean id="startQuartz" lazy-init="false" autowire="no" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref bean="doTime"/>
			</list>
		</property>
	</bean>
</beans>