<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">
	<bean id="arcBaseInfoDAO" class="com.pd.arc.dao.impl.ArcBaseInfoDAOImpl">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>
	
	<bean id="arcPicInfoDAO" class="com.pd.arc.dao.impl.ArcPicInfoDAOImpl">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>
	
	<bean id="arcBlackCarDAO" class="com.pd.arc.dao.impl.ArcBlackCarDAOImpl">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>
	
	<bean id="arcRescanInfoDAO" class="com.pd.arc.dao.impl.ArcRescanInfoDAOImpl">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>
	
	<bean id="arcCombInfoDAO" class="com.pd.arc.dao.impl.ArcCombInfoDAOImpl">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>
	
	<bean id="arcCallDAO" class="com.pd.arc.dao.impl.ArcCallDAOImpl">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>
	
	<bean id="arcStatusRecordDAO" class="com.pd.arc.dao.impl.ArcStatusRecordDAOImpl">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>

</beans>
